html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: rgb(21, 21, 121);
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height:10em;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 2em;
}

.logo {
    max-height:8em;
}

.logo img{
    object-fit: contain;
    max-width: 8em;
}

.search-bar {
    border-radius: 25px;
    padding: 0.75em;
    border-color: rgb(176, 188, 188);
}

.nav-option{
    text-decoration:none;
}

.nav-option:visited {
    color: rgb(21, 21, 121);
}

.main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    text-align: center;
}

@media (min-width: 600px) {
    .header {
        flex-direction: row;
    }
}
