html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: rgb(21, 21, 121);
}

.header {
    display: flex;
    max-width: 100%;
    max-height:8em;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 2em;
}

.logo {
    object-fit: contain;
    max-width: 8em;
}

.main {
    padding: 2rem;
}

.footer {
    text-align: center;
}
